body{
    background-color: hsl(0, 0%, 94%);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.age-calculator{
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 15px;
    border-bottom-right-radius: 150px;
    margin: auto;
    display: flex; /* Add */
    flex-direction: column; /* Add */
    align-items: center;
    
}

#gen-error{
    color: rgb(237, 10, 10);
    font-weight: 400;
}

.dob-input-section{
 display: flex;
 margin-bottom: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-weight:400;
}

.entry{
    font-weight: 700;
    padding: 10px;
    
}

.error-message{
    color: rgb(237, 10, 10);
    font-weight: 400;  
}
.hr {
  width: 100%; /* Add width to ensure the horizontal line spans the container */
  border: none;
  border-top: 1px solid black; /* Add border style for the horizontal line */
  margin-bottom: 20px;
}

.calc-btn{
    background-color: #864cff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}


.age-display-section{
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 800; 
}

.age-results{
  color: #864cff;
}





























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }